body { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 219, 219);
}

.container{
    display: flex;
    flex-direction: row;
    gap : 20px;
    justify-content: center;
    align-items: center;
}